<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <%= image_tag @user.image_url %>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <ul>
        <h2>Hey <%= @user.username %></h2>
        <h5><%= @user.name %></h5>
        <h5 id="followers-link"><%= link_to "Followers: ", followers_path %></h5>
      </ul>
    </div>
  </div>
</div><br><br>
<div class="container">
  <div class="row col-sm-12 col-md-12 col-lg-12">
    <% @grams.each do |gram| %>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div class="row col-sm-12 col-md-12 col-lg-12">
          <%= image_tag gram.image_url, size: "291x291" %>
          <%= gram.caption %>
          <i class="glyphicon glyphicon-heart"></i><%= gram.likes_count %>
        </div><br><br>
        <div class="row col-sm-12 col-md-12 col-lg-12">
          <% gram.comments.each do |comment| %>
            <%= comment %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
